# General
.DS_Store
*.log
*.pot
*.pyc
__pycache__/
*.swp

# Environment
.env
.env.*
.venv/
venv/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/coverage/

# Backend
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/.pytest_cache/
backend/htmlcov/
backend/.coverage

# IDE
.vscode/
.idea/

# others
codetotext.py
codebase_content.txt

# ruff cache
.ruff_cache/
.mypy_cache/
