.git
.github
.pytest_cache
.ruff_cache
.coverage
.tox
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
Thumbs.db
.vscode
.idea
README.md
.gitignore
.pre-commit-config.yaml
test_media/
logs/
*.log
node_modules
frontend/
docker-compose*.yml
